numpy>=1.9.2
gunicorn==19.9.0
pandas>=0.19
Flask==1.1.2
Werkzeug==1.0.1
vadersentiment==3.3.2
scikit_learn>=0.18
markupsafe==1.1.1
jinja2==2.11.2
matplotlib>=1.4.3
nltk==3.4.5
textstat==0.6.2
itsdangerous==1.1.0

