<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hate Speech Detection</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body{
            margin:0;
        }
        .css-purpose{
            padding:5%;
        }
        /* #textboxid{
            width:100%;
            height:200px;
            font-size:14pt;
            overflow:scroll;
        } */
        #myDIV{
            display:none;
        }
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Hate Speech Detector</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.kaiciid.org/news-events/news/what-hate-speech">Know more about Hate Speech</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="css-purpose">
            <div  class="jumbotron">
                <h1 class="display-4">What is a hateSpeech detector?</h1>
                <p class="lead">It detects public speech that expresses hate or encourages violence towards a person or group based on something such as race, religion, sex, or sexual orientation.</p>
                <p class="lead">This web app is powered with ML, NLP which identifies whether the message is a hate speech or offensive speech or just normal speech.</p>

                <form action= "{{url_for('predict')}}" method="post">
                    <br>
                    <b><p class="lead">Write or paste a text in the text box below to find out is it a hate speech or offensive speech or just normal text?</p></b>
                    <textarea name = "text" class="form-control" id="exampleFormControlTextarea1"></textarea>
                    </p>
                    <button type="submit" onclick="myFunction()"class="btn btn-primary">Check</button>
                </form>
                <br>
                <br>
            </div>
        </div>
        <div class="css-purpose">
            <div id="myDiv" class="jumbotron">
                <p>{{ default_html }}</p>
                <p>{{ input_string }}</p>
                <p>{{ predict_text }}</p>
            </div>
        </div>
    </div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
